<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="CINEMA.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="CINEMA.Properties.Settings.QLRPConnectionString" connectionString="Data Source=LAPTOP-V4LO1U4C\NOC1203;Initial Catalog=QLRP;Integrated Security=True" providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Types" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-16.0.0.0" newVersion="16.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <CINEMA.Properties.Settings>
      <setting name="connectionSTR" serializeAs="String">
        <value />
      </setting>
      <setting name="pwd" serializeAs="String">
        <value />
      </setting>
      <setting name="UserID" serializeAs="String">
        <value />
      </setting>
      <setting name="InitialCatalog" serializeAs="String">
        <value />
      </setting>
      <setting name="DataSource" serializeAs="String">
        <value />
      </setting>
    </CINEMA.Properties.Settings>
  </userSettings>
</configuration>